.navigation {
  padding: 15px 20px;
  font-size: 24px;
  display: flex;
  column-gap: 35px;
  background-color: #60c5d2;
}
.navLink {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}

.navLink svg {
  fill: #a49393;
}

.active {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
  border-radius: 6px;
  text-decoration: none;
  background-color: #a49393;
  color: white;
}
