.actorsList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
   
}

.actorItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex-basis: calc((100% - 20px)/ 4);
    border: 1px solid blue;
}
.actorAvatar {
    width: 100%;
}