.homeContent {
  padding: 15px 25px;
}
.trendList {
  max-width: 700px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.trendItem {
  font-weight: 500;
  height: 50px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 150ms linear;
}
.trendItem a {
  font-weight: 500;
  padding-left: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  height: 100%;
  transition: all 150ms linear;
}

.trendItem:hover a {
  color: #1c98a8;
  background-color: #fbfbfb;
}
