.searchForm {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  max-width: 450px;
  margin: 30px 0 30px 0;
  padding: 5px 10px 5px 40px;
}

.input {
  font-size: 20px;
  font-weight: 500;
  max-width: 300px;
  padding: 10px 20px;
  background-color: #ededed;
  border: 2px solid #d3b5e5;
  border-radius: 4px;
  outline: none;
  transition: all 150ms linear;
}

.input::placeholder {
  font-size: 16px;
  font-style: italic;
}

.input:focus {
  border-color: rgb(161, 73, 212);
}

.btn {
  display: flex;
  align-items: center;
  column-gap: 5px;
  border: none;
  color: #f9f1f0;
  font-size: 20px;
  font-weight: 600;
  border-radius: 4px;
  background-color: rgb(169, 91, 214);
  padding: 12px 20px;
  cursor: pointer;
  transition: all 100ms linear;
}
.btn:hover {
  background-color: #a932ed;
}

.searchList {
  max-width: 700px;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.searchItem {
  font-weight: 500;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 150ms linear;
}
.searchItem a {
  padding-left: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: 100%;
  height: 100%;
  transition: all 150ms linear;
}

.searchItem:hover a {
  color: #1c98a8;
  background-color: #fbfbfb;
}

.searchCaption {
  padding: 0px 65px 0 65px;
}
.noResults {
  padding-left: 40px;
}
